{% extends './base.html' %}

{% block content %}
<div class="container">
    <div class=""
         style="height: 250px; background-repeat: no-repeat; background-image: url('http://127.0.0.1:8000/static/homesite/img/beltway-traffic-2.jpg');">
    </div>

    <div class="py-4"><h1 class="text-center">Site Credits</h1></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Resource</th>
            <th scope="col">Credit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>slug-lines.gif</td>
            <td>https://en.wikipedia.org/wiki/Slugging</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}