{% extends './base.html' %}

{% block content %}
<div class="container">
    <div class=""
         style="height: 250px; background-repeat: no-repeat; background-image: url('http://127.0.0.1:8000/static/homesite/img/beltway-traffic-2.jpg');">
    </div>

    <div class="py-4"><h1 class="text-left">Update Your Profile</h1></div>

        <div class="col px-4 mx-5">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if 'registration-form' in message.tags %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <form action="{% url 'edit' rider.id %}" id="registration-form" name="registration-form" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="first_name" class="form-label my-2">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ this_rider.first_name }}">
            </div>

            <div class="col text-center">
                <button type="submit" class="btn btn-primary btn-sm px-4 my-3">Update Profile</button>
            </div>
        </form>

        </div>
</div>
{% endblock content %}